# Dépendances pour le pipeline CI (entraînement)

# --- Core ML & Data ---
ultralytics==8.0.220
# PyTorch est installé séparément dans le workflow pour le support GPU
# torch==2.1.2
# torchvision==0.16.2
# torchaudio==2.1.2
opencv-python==4.8.1.78
Pillow==10.2.0
numpy==1.26.3

# --- MLOps Tools ---
mlflow>=2.9,<3.0
dvc[azure]>=3.0,<4.0 # Installe DVC avec le support pour Azure
PyYAML>=6.0,<7.0

# --- Utilitaires ---
tqdm # ultralytics en a besoin pour les barres de progression
psutil # Pour le monitoring système
requests # Souvent une dépendance implicite